.product {
	height: 100%;
	padding: 1.5rem;
	border-radius: var(--border-radius-small);

	box-shadow: var(--shadow-dark);

	transition: all 250ms ease;

	&:hover {
		background-color: var(--color-grey-light);
	}

	&__image {
		position: relative;
		height: 20rem;
		border-radius: var(--border-radius-small);
		background-size: cover;
		background-position: center;
	}

	&__button {
		position: absolute;
		right: 0;
		bottom: -1rem;
		margin: 1rem;
		padding: 1rem;
		margin-left: auto;
		border-radius: 50%;
		background-color: var(--color-primary);

		color: var(--color-light);
		cursor: pointer;
		opacity: 0;

		transition: all 300ms ease;

		&:hover {
			transform: scale(1.1);
		}

		&:active {
			transform: scale(1);
		}

		&--selected {
			background-color: var(--color-error);
			opacity: 1;
			bottom: 0;
		}
	}

	&:hover > &__image > &__button {
		opacity: 1;
		bottom: 0;
	}

	&__info {
		display: flex;
		align-items: center;
		margin-top: 1rem;
	}

	&__name {
		font-size: 2rem;
		margin-right: auto;
	}

	&__price {
		font-size: 1.6rem;
		font-family: var(--font-secondary);
	}

	&__widget {
		display: flex;
		margin-top: 0.5rem;
	}
}
