.checkout {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;

	&__products {
		flex: 10 0 auto;
		margin-bottom: 2rem;
	}
}

.checkout-receipt {
	flex: 1 0 20%;
	padding: 2rem 3rem;
	background-color: var(--color-grey-light);
	border-radius: var(--border-radius-small);
	box-shadow: var(--shadow-dark);

	&__title {
		font-size: 2.4rem;
		margin-bottom: 2rem;
	}

	&__list {
		border-top: 1px solid;
		border-bottom: 1px solid;
		padding: 1rem;
		margin-bottom: 2rem;
	}

	&__total {
		text-align: end;
		font-size: 3rem;
		padding: 1rem 0;
	}
}

.purchase-item {
	display: flex;
	&__name {
		font-size: 2rem;
		color: var(--color-success);
		margin-right: auto;
	}
	&__price {
		font-size: 1.6rem;
		font-family: var(--font-secondary);
	}
}
