.shop {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;

	&__products {
		flex: 10 0 auto;
	}
}

.filter {
	flex: 1 0 20%;
	margin-bottom: 2rem;
	padding: 2rem 3rem;
	background-color: var(--color-grey-light);
	border-radius: var(--border-radius-small);
	box-shadow: var(--shadow-dark);

	&__title-container {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;
	}

	&__title-icon {
		font-size: 3.2rem;
		margin-right: 1rem;
	}

	&__clear {
		margin-left: auto;
	}

	&__title {
		font-size: 2.4rem;
	}

	&__section {
		margin-bottom: 1.5rem;
	}

	&__header {
		font-size: 2rem;
	}

	&__group {
		margin: 1rem 0;

		&--flex {
			margin: 1rem 0;
			overflow-x: hidden;
			display: flex;
			flex-wrap: wrap;
			gap: 0.5rem;
		}
	}

	&__label {
		font-size: 1.6rem;
		font-family: var(--font-secondary);
	}
}
