:root {
	--font-primary: 'Roboto Condensed', Sans-Serif;
	--font-secondary: 'Cabin', Sans-Serif;

	--color-primary: #17c37b;
	--color-secondary: #61bfad;
	--color-tertiary: #d3e8e1;

	--color-grey-dark: #ababab;
	--color-grey-light: #eaeaea;

	--color-light: #fff;
	--color-dark: #000000;

	--color-error: #ef303b;
	--color-success: #2699fb;
	--color-warning: #ffd101;

	--border-radius: 2rem;
	--border-radius-small: 0.5rem;

	--shadow-dark: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
	--shadow-dark-big: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.3);

	--max-content-width: 1920px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: var(--font-primary);
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
}

main {
	position: relative;
	margin: 0 auto;
	padding: 2rem;
	width: 100%;
	max-width: var(--max-content-width);
}
